{% extends 'base.html.twig' %}
{% block title %}Task List{% endblock %}
{% block body %}

    <div class="center-block col-md-2 list-group-item-text" style="float: none; border:1px solid darkgrey">

        <h2>Add a taskList</h2>
        <form method="POST" action="{{ path("google_task_api_addTaskList") }}">
            <input type="text" name="title" placeholder="Title" required=""/>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        <br/>
    </div>

    <br/>

    <div class="center-block col-md-4 clearfix" style="float: none;">
        <ul class="list-group">

            {% for taskList in taskLists %}
                <li class="list-group-item clearfix">
                    <div>
                        <span class="card-title">{{ taskList.title }}</span>
                        <div class="pull-right">
                            <a href='{{ path("google_task_api_showitems", { "taskList": taskList.id }) }}'>
                                <button type="button" class="btn btn-default">
                                    Show items
                                </button>
                            </a>
                            <a href='#' id="updateTaskList">
                                <button type="button" class="btn btn-default">
                                    Update
                                </button>
                            </a>
                            <a href='{{ path("google_task_api_delete", { "taskList": taskList.id }) }}'>
                                <button type="button" class="btn btn-danger">
                                    Delete
                                </button>
                            </a>
                        </div>
                        <div style="display:none;" id="updateFormTaskList">
                            <form id="formUpdate">
                                <input type="text" required="" value="{{ taskList.title }}" id="titleUpdate" name="titleUpdate">
                                <input type="hidden" id="idTaskList" value="{{ taskList.id }}" name="idTaskList">
                                <input type="hidden" value="{{ path('google_task_api_listupdate') }}" id="url">
                                <input type="button" value="Modifier" id="clickUpdateTaskList">
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
