{% extends 'base.html.twig' %}
{% block title %} Task List Items{% endblock %}
{% block body %}
    <p>Ajout d'une tâche</p>
    <form id="addTask">
        <input type="text" placeholder="titre tâche" name="title">
        <input type="hidden" value="{{ idTaskList }}" name="idTaskLists">
        <input type="hidden" value="{{ path("google_task_api_addTask") }}" id="url">
        <input type="button" value="ajouter" id="buttonTask">
    </form>
<br>
    <div class="row">
        <ul class="collection">
            <div class="row">
            {% for task in tasks %}
                {% if task.title == "" %}
                    {% set continue = true %}
                {% else %}
                    <div class="col-md-3">
                        <li class="collection-item">Task title : <a href="{{ path("google_task_api_taskDetails", {"taskList": task.id}) }}">{{ task.title }}</a>
                            </br>Due date : {{ task.due }}
                            </br>Status : {{ task.status }}
                        </li>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </ul>
    </div>

{% endblock %}