{% extends 'base.html.twig' %}
{% block title %} Task List Items{% endblock %}
{% block body %}
    <p>Ajout d'une tâche</p>
    <form id="addTask">
        <input type="text" placeholder="titre tâche" name="title">
        <input type="hidden" value="{{ idTaskList }}" name="idTaskLists">
        <input type="hidden" value="{{ path("google_task_api_addTask") }}" id="url">
        <input type="button" value="ajouter" id="buttonTask">
    </form>
<br>
    <div class="row">
        <ul class="collection">
            <div class="row">
            {% for task in tasks %}
                {% if task.title == "" %}
                    {% set continue = true %}
                {% else %}
                    <div class="col-md-3">
                        <li class="collection-item">Task title : <a href="#" class="updateTask">{{ task.title }}</a>
                            <div style="display:none;" id="updateTaskDisplay">
                                <form id="formUpdateTask">
                                    <input type="text" required="" value="{{ task.title }}" id="titleUpdate" name="titleUpdate">
                                    <input type="hidden" id="idTask" value="{{ task.id }}" name="idTask">
                                    <input type="hidden" id="idTaskList" value="" name="idTaskList">
                                    <input type="hidden" value="{{ path('google_task_api_taskUpdate') }}" id="urlTask">
                                    <input type="button" value="Modifier" id="clickUpdateTask">
                                </form>
                            </div>
                            </br>Status : {{ task.status }}
                        </li>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </ul>
    </div>
    <script>
        var chaineSupprimer = "/google/list/items/";
        var parser = document.createElement('a');
        parser.href = window.location.href;
        var resultat = parser.pathname.replace(chaineSupprimer, "");
        $('#idTaskList').val(resultat);
    </script>
{% endblock %}