{% extends 'base.html.twig' %}
{% block title %}Home {% endblock %}
{% block body %}


    <div class="row">

    <h1 style="text-align:center;">Task List Manager</h1>


    {% if tasksLists|length>0 %}


    <div class="center-block col-md-4 clearfix" style="float: none;">
        <a href="{{ path('todo_list_add_tasks_list')}}">
            <button type="button" class="btn btn-primary">
                Add new Task List
            </button>
        </a>
    </div>

    <br/>
    <div class="center-block col-md-4 clearfix" style="float: none;">

        <ul class="list-group">

            {% for taskList in tasksLists %}
                <li class="list-group-item clearfix">
                    <div>
                        Task list name : <b>{{ taskList.name }}</b>
                        <div class="pull-right">
                            <a href='{{ path('todo_list_tasks_list', {'listId': taskList.id}) }}'>
                                <button type="button" class="btn btn-default">
                                    Show List
                                </button>
                            </a>
                            <a href='{{ path('todo_list_update_tasks_list', {'listId': taskList.id}) }}'>
                                <button type="button" class="btn btn-default">
                                    Update
                                </button>
                            </a>
                            <a href='{{ path('todo_list_delete_tasks_list', {'listId': taskList.id}) }}'>
                                <button type="button" class="btn btn-danger">
                                    Delete
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}

            <br/>
            <div class="center-block col-md-2" style="float: none;">
                <h2> No tasks lists found</h2>
                <a href="{{ path('todo_list_add_tasks_list') }}">
                    <button type="button" class="btn btn-primary">
                        Add new Task List
                    </button>
                </a>
            </div>

        {% endif %}
    </div>

{% endblock %}