{% extends 'base.html.twig' %}
{% block title %}Home {% endblock %}
{% block body %}

    <div class="row">

    <div class="center-block col-md-4 clearfix" style="float: none;">
        <a href="{{ path('todo_list_homepage') }}">
            <button type="button" class="btn btn-primary">
                Tasks Lists
            </button>
        </a>
    </div>

    <div class="center-block col-md-2 list-group-item-text" style="float: none;">

        <h1 style="text-align:center;">{{ taskList.name }}</h1>

        <div>
            {{ form(form) }}
        </div>

    </div>

    <br/> <br/>

    {% if tasks|length>0 %}

    <div class="center-block col-md-4 clearfix" style="float: none;">
        <ul class=" list-group">
            {% for task in tasks %}
                <li class="list-group-item clearfix">
                    <b>[{{ task.id }}] {{ task.name }} : </b> {{ task.value }}
                    <div class="pull-right">
                        <a href="{{ path('todo_list_update_task', {'taskId': task.id}) }}">
                            <button type="button" class="btn btn-default">
                                Update
                            </button>
                        </a>
                        <a href="{{ path('todo_list_delete_task', {'taskId': task.id}) }}">
                            <button type="button" class="btn btn-danger">
                                Delete
                            </button>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="center-block col-md-2" style="float: none;">
                <h2> No tasks found</h2>
            </div>

        {% endif %}
    </div>


{% endblock %}